.input_wrapper{
    display: flex;
    align-items: center;
    padding: 0.4rem;
    width: 80%;
    margin: 0 auto;
    gap: 0.5rem;
}

input {
    outline: none;
    border: none;
    flex: 1;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    background: transparent;
}